body {
    padding-top: 20px;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-weight:700;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 a {
    color: #000;
}

h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0em;
}

h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0.1em;
}

h5 {
    font-weight: bold;
}

h5 a, h6 a {
    color: #444;
}

h5 a, h6 a:hover {
    color: #222;
}

p {
    color: #444;
}

ul {
    list-style: none;
    padding-right: 15px;
}

li {

    text-align: justify;
}

hr {
    margin-top: 0;
}

.container-fluid {
    padding-right: 1.5em;
}

.bullets {
    list-style: outside
}

.col-3 {
    height: 200px;
    background-color: red;
}

.date {
    font-style: italic;
}

.category {
    margin-top: 1em;
}

.entry {
    margin-bottom: 0.8em;
}

@media only screen and (min-width: 768px) {
    .date {
        text-align: right;
    }
