body {
    padding-top: 20px;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
}

a {
    color: rgb(5, 146, 153);
}

a:hover {
    color: #333;
    text-decoration: none;
}

h1 a {
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: mr-eaves-xl-sans-narrow, sans-serif;
}

h1, h2 {
    font-weight:700;
}

h3, h4 {
    margin-bottom: 0em;
}

h5, h6 {
    margin-bottom: 0.1em;
}

ul {
    padding-right: 15px;
}

hr {
    border: 0.5px solid rgb(5, 146, 153);
    margin-top: 0;
}

.date {
    font-style: italic;
}

.category {
    margin-top: 1em;
}

.entry {
    margin-bottom: 0.8em;
}

@media only screen and (min-width: 768px) {
    .date {
        text-align: right;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #ddd;
    }

    a:hover {
        color: #bbb;
    }

    h1 a {
        color: #ddd;
    }    
}
